<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mage_A01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,68}}</string>
                <key>sourceSize</key>
                <string>{40,70}</string>
            </dict>
            <key>Mage_A02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{36,68}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,68}}</string>
                <key>sourceSize</key>
                <string>{40,70}</string>
            </dict>
            <key>mage01.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{24,38}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>mage02.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,62},{18,38}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{18,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>mage03.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,42},{18,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{18,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>mage04.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{20,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{20,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>mage05.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,42},{22,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{22,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>mage06.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,66},{22,34}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{22,34}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>mage07.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,22},{18,34}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{18,34}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>mage08.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{18,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{18,34}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>mage09.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,90},{20,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{20,34}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Mag.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a72d9d4b26c623d122ef4c0490a2486:1/1$</string>
            <key>textureFileName</key>
            <string>Mag.png</string>
        </dict>
    </dict>
</plist>
